.main-wrapper {
  display: flex;
  flex-direction: column;
}

.body-main {
  display: flex;
  flex: 1;
  .left,
  .right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
  }

  .left {
    background-color: white;
  }

  .right {
    overflow-y: scroll;
    background-color: white;
    border-left: 1px solid gray;
  }

  h5 {
    color: #043879;
    margin: 0;
  }
}
.container-post-b {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .post-body-b {
    margin-left: 17px;
    margin-right: 10px;
  }
}
.header-post-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info-b {
  display: flex;
  color: #939393;
  font-size: 14px;
  align-items: center;
  gap: 1rem;
  .user-name-b {
    color: black;
    font-weight: bold;
  }
}

.more-b {
  font-size: 0.875rem;
  color: #939393;
}

.post-image-b {
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
}
.post-image-b img {
  border-radius: 7px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
.post-content-b {
  font-size: 14px;
  margin-bottom: 7px;
}
.post-time-b {
  font-size: 12px;
}
.user-avatar-b {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}
.container-detect {
  margin-top: 20px;
  width: 500px;
  font-size: 16px;
}

.detect-row {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.detect-image {
  flex: 1;
}

.detect-info {
  flex: 1;
}
.chakra-stack.css-nu0qrk {
  width: 300px;
}
.footer-main {
  background-color: white;
  flex: 1;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .btn-back {
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid azure;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  .btn-back:hover {
    color: rgb(72, 126, 252);
  }

  .btn-accept {
    font-size: 16px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #aedbff;
    border-radius: 6px;
    background-color: #aedbff;
    transition: background-color 0.3s, color 0.3s;
  }
  .btn-accept:hover {
    background-color: #0a60aa;
    color: white;
  }

  .btn-deny {
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
    border: 1px solid rgb(243, 92, 92);
    border-radius: 6px;
    background-color: rgb(243, 92, 92);
    transition: background-color 0.3s, color 0.3s;
  }
  .btn-deny:hover {
    background-color: rgb(220, 70, 70);
    color: white;
  }
}
