.container-post {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid var(--border-color);
  }
  
  .header-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .user-info {
      display: flex;
      font-size: 14px;
      align-items: center;
      gap: 1rem;
  
      .user-name {
        font-weight: bold;
      }
    }
  
    .more {
      font-size: 0.875rem;
      color: #939393;
    }
  }
  
  .user-avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }
  
  .post-image {
    border-radius: 7px;
    overflow: auto;
    scrollbar-width: none;
    width: 100%;
    // border: 1px solid var(--border-color);
  
    img {
      border-radius: 7px;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  
  .post-content {
    font-size: 14px;
    margin-bottom: 7px;
  }
  
  .post-time {
    font-size: 12px;
  }
  
  .loading-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }
  .create-post {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
  
    border-bottom: 1px solid var(--border-color);
    .user-avatar-container {
      width: 30px;
      height: 30px;
    }
  
    .user-avatar {
      border-radius: 50%;
      height: 100%;
      object-fit: cover;
    }
  
    .input-post {
      border: none;
      outline: none;
      font-size: 14px;
      background-color: transparent;
      color: #808080;
    }
    .post-button {
      border: 1px solid var(--border-color);
      border-radius: 8px;
      margin-left: 280px;
      padding: 5px 13px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
    }
  }
  