@import "../../../contants/colors.scss";

.main-wrapper {
    background-color: white;
    min-height: 100vh;
}
.data-table-container {
    padding: 15px;
    .table-title {
        text-align: center;
        font-size: 24px;
        color: $title;
        margin-bottom: 16px;
    }
    .custom-search-input {
        width: 400px;
        margin-bottom: 16px;
        border: 1px solid;
        border-radius: 5px;
        font-size: 13px;
        background-color: #f8f8f8;
        border: 1px solid #d9d9d9;
        outline: none;
        &:focus {
            border-color: #40a9ff;
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
        }
    }
}

.btn-Del {
    background: transparent;
    border: none;
    color: $danger;
    margin: 0px 10px;
}

.btn-Del:hover {
    background-color: $danger !important;
    color: $white !important;
}

.btn-UnDel {
    background: transparent;
    border: none;
    color: $button;
    margin: 0px 10px;
}

.btn-UnDel:hover {
    background-color: $button !important;
    color: $white !important;
}

.management-account-table .ant-table-tbody > tr > td {
    padding: 7px;
}

.management-account-table .ant-table-thead > tr > th {
    padding: 9px;
    background-color: $background;
}
.custom-modal .ant-modal {
    top: 50% !important;
    transform: translateY(-50%);
}
