.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  
    input {
      margin: 10px 0;
      padding: 10px;
      font-size: 1rem;
    }
  
    button {
      font-size: 1rem;
      border: none;
      cursor: pointer;
      
    }
  }
  