.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .logo-section {
    flex: 0 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar-menu {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sidebar-item {
      font-size: 21px;
      padding: 10px 15px;
      border-radius: 8px;
      margin-bottom: 7px;
      &:hover {
        background-color: var(--hover-color);
      }
    }
  }

  .setting-item {
    font-size: 22px;
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    position: relative;

    &:hover {
      color: black;
    }

    .setting-menu {
      font-size: 16px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 175px;
      border: 1px solid var(--border-color);
      border-radius: 10px;
      padding: 15px;
      display: flex;
      flex-direction: column;
      z-index: 100;
      transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
      overflow: hidden;

      &.expanded {
        width: 200px;
        height: 105px;
      }

      .settings-menu,
      .appearance-menu,
      .language-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: transform 0.3s ease-in-out;
      }

      .appearance-menu,
      .language-menu {
        transform: translateX(100%);
      }

      &.show-appearance .appearance-menu,
      &.show-language .language-menu {
        transform: translateX(0);
      }

      &.show-appearance .settings-menu,
      &.show-language .settings-menu {
        transform: translateX(-100%);
      }

      .setting-option {
        padding: 10px;
        border-radius: 6px;
        &:hover {
          background-color: var(--hover-color);
        }
      }
      .back-option {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px;
      }

      .appearance-menu,
      .language-menu {
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
    }
  }
}
