.scroll-container {
  scrollbar-width: none;
}

.image-thread {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 500px; // Adjust as needed
  margin: 0 auto;
}

.image-item {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
}
