$danger: #dc3545;
$success: #07a14f;
$button: #257769;
$white: #ffffff;
$background: #f9f2ee;
$background-header: #e8dace;
$primary_green: #438d7e;
$title: #a45921;
$light-background: #ffffff;
$light-text: #000000;
$light-light-gray: #f5f5f5;
$light-gray: #939393;
$light-extra-light-gray: #f1f1f1;

$dark-background: #0a0a0a;
$dark-text: #ffffff;
$dark-light-gray: #333333;
$dark-gray: #212121;
$dark-extra-light-gray: #1a1a1a;

$rose: #ef4444;
$green: #209d5c;
